doctype

html(lang="ru")
  
  -var active = 'Вело кафе' //активный пункт меню, список в header.jade
  -var pageTitle = 'Вело кафе' + ' - Спица' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    .content
      
      .breadcrumbs
        .container
          ul
            li
              a(href="index.html")
                i.fa.fa-home
                | Главная
          
      section.section.angle.angle--reverse.no--p-bottom
        
        +angleWrapper
        
        .container
          .row
            .col-lg-6.col-md-7.col-sm-8
              
              .angle__img
                img(src="./img/about-img-1.jpg", alt="").img-responsive
          
              .section__head.section__head--yellow.section__head--left.section__head--thin
                .section__head-wrapper
                  div
                    .section__head-icon
                      div
                        +imgSvgVelo
                  div
                    h1 Велокафе
              
              .angle__content
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
    
      section.section.menu-pdf.no--p-bottom
        .menu-pdf__wrapper
          .container
            
            .menu-pdf__wrapper-body.row
              .col-lg-7.col-lg-push-5.col-md-5.col-md-push-7
                .text-center
                  a(href="#!").btn.btn--green.btn--background
                    i.fa.fa-long-arrow-right
                    | Смотреть меню в PDF
              .col-lg-5.col-lg-pull-7.col-md-7.col-md-pull-5.hidden-xs
                img(src="./img/menu-pdf-img.png", alt="").menu-pdf__img
    
      section.section.dish-of-day
        .container
          
          .section__head.section__head--green
            .section__head-wrapper
              div
                .section__head-icon
                  div
                    +imgSvgVelo
              div
                h1 Блюдо дня
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        
          .dish-of-day__row
            mixin dishofdayBlock(title, img, weight)
              div
                a(href="#!" class='dish-of-day__block')
                  .dish-of-day__block-img
                    img(src= img, alt="")
                  .dish-of-day__block-title
                    span= title
                    small= weight
            
            +dishofdayBlock('Салат с креветками', './img/menu-img-1.png', '300 грам, 105 грн')
            +dishofdayBlock('Салат мясной', './img/menu-img-2.png', '300 грам, 80 грн')
            
      section.section.gallery.no--p-bottom
        .container
          
          .section__head.section__head--yellow
            .section__head-wrapper
              div
                .section__head-icon
                  div
                    +imgSvgVelo
              div
                h1 Фотогалерея
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        
        .gallery__row
          
          - for (var i = 0; i < 4; i++) {
          .gallery__block
            a(href="./img/gallery-folder-img-1.jpg").gallery-item
              img(src="./img/gallery-folder-img-1.jpg", alt="")
          - }
          
    
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
    
    script().
      (function(){
        $('.header__nav-ul li.header__nav-li:nth-child(4)').addClass('active');
        $('.angle__wrapper-right').attr('style', 'background-image: url(\'./img/about-img-2.jpg\')')
        $('.angle__img img').attr('src', './img/about-img-2.jpg')
      })();
