footer.footer
  
  .footer__top
    .container
      .row
        .col-sm-4
          .footer__logo
            img(src="./img/logo.png", alt="")
            span lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        .col-sm-4
          .footer__title Меню
          ul.footer__list
            li: a(href="about.html") О велодоме
            li: a(href="bicycle-hire.html") Велокафе 
            li: a(href="hire.html") Прокат
            li: a(href="repairs.html") Ремонт
            li: a(href="contact.html") Контакты
          
        .col-sm-4
          .footer__title Связь с нами
          .footer__address
            .footer__contact
              i.fa.fa-phone
              | +38(099) 032 123 23
            .footer__contact
              i.fa.fa-envelope
              | info@gmail.com
            .footer__contact
              i.fa.fa-map-marker
              | г. Харьков, Белгородское шоссе 7а
            .footer__social
              a(href="#!")
                i.fa.fa-facebook
              a(href="#!")
                i.fa.fa-instagram
              a(href="#!")
                i.fa.fa-twitter
    
  .footer__bottom
    .container
      
      .footer__copyright &copy; 2018 Спица / Велокафе
      .footer__development Разработка 
        a(target="_blank" href="http://www.dartc.ua") DARTC
  
