// Header
header.header
  .header__top
    .container
      
      .header__top-wrapper
        div.hidden-sm.hidden-xs
          .header__social
            a(href="#!")
              i.fa.fa-facebook
            a(href="#!")
              i.fa.fa-instagram
            a(href="#!")
              i.fa.fa-twitter
        div.hidden-sm.hidden-xs
          .header__contact
            i.fa.fa-map-marker
            | Белгородское шоссе 7а
        div
          .header__contact
            i.fa.fa-phone
            | +38(099) 032 123 22
        div
          .header__contact
            i.fa.fa-phone
            | +38(099) 032 123 22
  
  .header__bottom
    .container
      
      button(type="button").header__button
        span
      
      .header__logo
        a(href="index.html")
          img(src="./img/logo.png", alt="")
      
      nav.header__nav
        ul.header__nav-ul
          li.header__nav-li
            a(href="about.html").header__nav-a
              span О велодоме
          li.header__nav-li
            a(href="hire.html").header__nav-a
              span Прокат
                i.fa.fa-angle-down
            ul.header__nav-ulul
              li.header__nav-lili
                a(href="bicycle-hire.html").header__nav-aa Велопрокат
              li.header__nav-lili
                a(href="bicycle-hire.html").header__nav-aa Зимний прокат
          li.header__nav-li
            a(href="repairs.html").header__nav-a
              span Ремонт 
                i.fa.fa-angle-down
            ul.header__nav-ulul
              li.header__nav-lili
                a(href="repairs.html").header__nav-aa Мастерская
              li.header__nav-lili
                a(href="repairs.html").header__nav-aa Виды Ремонта
          li.header__nav-li
            a(href="bike-rack.html").header__nav-a
              span Велокафе
          li.header__nav-li
            a(href="contact.html").header__nav-a
              span Контакты

.header-separator
